.order-card {
  padding: 20px;
  border: 1px solid;
}

.card-details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr;
  min-width: 300px;
}

#order-details-wrapper {
    margin: auto;
    grid-column: 1 / 3;
    grid-row: 1;
    overflow: hidden;
}

#worker-details-wrapper {
  margin: auto;
  grid-column: 2;
  grid-row: 2;
}

#img-container {
    grid-column: 1;
    grid-row: 2;
}

.worker-img {
  height: 100px;
}
